<% if Spree::Promotion::Rules::Autodelivery.new.eligible?(@order) && !@order.user%>
    <div class="col-sm-12 address_box">
      <% user=Spree::User.new %>
          <%= form_for user, :as => :spree_user, :url => spree.registration_path do |f| %>
              <div class="field form-group">
                <%= label_tag Spree.t(:password) %>
                <%= f.password_field :password, :class => 'form-control' %><span class="required"> *</span>
              </div>
              <div class="field form-group" style="margin-left:0px;padding-left:0px;">
                <%= label_tag Spree.t(:confirm_password) %>
                <%= f.password_field :password_confirmation, :class => 'form-control'%><span class="required"> *</span>
              </div>
        <% end %>
   </div>
<% end %>