<% content_for :page_title do %>
  Subscriptions
<% end %>

<%= render partial: 'spree/admin/shared/flash_messages' %>

<% if @subscriptions.present? %>
  <table class="table sortable" id='listing_subscription' data-hook>
    <thead>
      <tr data-hook="admin_subscriptions_index_headers">
        <th><%= Spree.t(:number) %></th>
        <th><%= Spree.t(:product_name) %></th>
        <th><%= Spree.t(:price) %></th>
        <th class="text-center"><%= Spree.t(:recurring_delivery_interval) %></th>
        <th class="text-center"><%= Spree.t(:total_deliveries) %></th>
        <th data-hook="admin_subscriptions_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'spree/subscriptions/subscription', collection: @subscriptions %>
    </tbody>
  </table>

<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Subscription)) %>
  </div>
<% end %>
